<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aware.plugin.temporalux" >

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Aware"
        tools:replace="android:icon, android:theme" >

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <service android:name="com.aware.plugin.temporalux.Plugin" android:exported="true" />
        <service android:name="com.aware.plugin.temporalux.Questionnaire_end" android:exported="true" />

        <provider
            android:name="com.aware.plugin.temporalux.Provider"
            android:authorities="${applicationId}.provider.temporalux"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />

        <activity
            android:name=".AppStat"
            android:label="@string/app_name"
            android:theme="@style/Theme.Aware">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
